<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div id="main">
      
      <h2>Log In</h2>
      <hr>
        <form method="post">
          <table>
            <tr>
              <td class="label">
                Username
              </td>
              <td>
                <input type="text" name="username" value="{{username}}">
              </td>
              <td class="error">
              </td>
            </tr>

            <tr>
              <td class="label">
                Password
              </td>
              <td>
                <input type="password" name="password" value="">
              </td>
            </tr>
          </table>
        <div class="error">{{error}}</div>
        <hr>

        <input class="butt" type="submit">
        <input type="button" class="butt" value="Cancel" onclick="window.location.href='/';" />

      </form> <!-- end form -->
    </div><!--  end main -->

  </body>

</html>
