<!doctype html>
	<head>
		<title>Wiki, CS253 Udacity</title>
		<meta name="description" content="">
		
		<link type="text/css" rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<div id="tools">
			<span><a href="/login">Login |</a></span>
			<span>Signup</span>
			<span class="hidden">| Logout</span>
			<span class="hidden">| Edit</span>
		</div> <!-- end tools -->

		<div id='main'>
			<header> Welcome. </header>
		</div> <!-- end main -->
		
		<!-- JavaScript at the bottom for fast page loading -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<!-- end scripts -->

	</body>
</html>