<!doctype html>
	<head>
		<title>Wiki, CS253 Udacity</title>
		<meta name="description" content="">
		
		<link type="text/css" rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<div id="tools">
			<span><a href="/login">{{loggedIn}}</a></span>
			<span><a href="/signup">{{signup}}</a></span>
			<span><a href="/logout">{{logout}}</a></span>
			<span>{{edit}}</span>
		</div> <!-- end tools -->

		<div id='main'>
			{{text}}
		</div> <!-- end main -->
		
		<!-- JavaScript at the bottom for fast page loading -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<!-- end scripts -->

	</body>
</html>